.google-map {
	height: 650px;
	width: 1200px;
}

.opentime {
	font-size: medium;
	padding-left: 30px;
}
.container{
	background-color:rgba(192,192,192,0.7);
	
}
.inputWidth
{
	width: 150px;
}
.paper-stack, .paper-stack:before, .paper-stack:after
{
background-color: #a4ffff;
border: 1px solid #ccc;
box-shadow: inset 0 0 30px rgba(0,0,0,0.1),
                  1px 1px 3px rgba(0,0,0,0.2);
}
.paper-stack

{
position: relative;
width: 200px;
padding: 2em;
margin: 35px auto;
}

/* Setup height, width, rotation, etc. for both underlying papers */
.paper-stack:before, .paper-stack:after
{
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
-webkit-transform: rotateZ(1deg);
-o-transform: rotate(1deg);
transform: rotateZ(1deg);
z-index: -1;
left: 10px;
top: 7px;
}

/* Tweak the lower paper note so that it sticks out further still */
.paper-stack:after
{
-webkit-transform: rotateZ(0.5deg);
-o-transform: rotate(0.5deg);
transform: rotateZ(0.5deg);
left: 5px;
top: 3px;
}

*/ Dress up the header a little */
.paper-stack h1
{
font-size: 1.8em;
font-weight: normal;
text-align: center;
padding: 0.2em 0;
margin: 0;
border-bottom: 2px solid #ddd;
}

.paper-stack p
{
text-align: left;
margin: 1.5em 0;
}
.restaurant:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	transition: 0.5s ease;
	background-color: #b6aefb;
}
.a{
	color: #ffffff;
}

.modal-map {
	display: block;
	width: 450px;
	height: 300px;
}

.infoWindowContent {
	font-size: 14px !important;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

.cus-footer {
	position: absolute;
	margin-top:20px;
	width: 100%;
	text-align: right;
	margin-right:25px;
	font-weight: bold;
	
}

h2 {
	margin-bottom: 0;
	margin-top: 0;
}

html, body {
	margin: 0;
	height: 100%;
}

.Info {
	zoom: 1;
	border-bottom: 1px solid #EEE;
	border-spacing: -10px;
	margin-bottom: 20px;
	position: relative;
}

.Info-item-title {
	font-size: medium;
	display: inline-block;
	font-weight: bold;
	padding-top: 7px;
	vertical-align: top;
	min-width: 100px;
}

.Info-section {
	vertical-align: top;
	zoom: 1;
	position: relative;
}

.progress {
	background: rgba(245, 245, 245, 1);
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 0px;
	height: 40px;
}

.registerprogress {
	background: rgba(75, 139, 196, 1);
}

.progress-striped .registerprogress {
	background-color: rgba(75, 139, 196, 1);
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(18, 12,
		12, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent),
		color-stop(0.5, rgba(18, 12, 12, 0.15)),
		color-stop(0.75, rgba(18, 12, 12, 0.15)),
		color-stop(0.75, transparent), to(transparent)));
	background-image: -webkit-linear-gradient(45deg, rgba(18, 12, 12, 0.15)
		25%, transparent 25%, transparent 50%, rgba(18, 12, 12, 0.15) 50%,
		rgba(18, 12, 12, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(18, 12, 12, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(18, 12, 12, 0.15) 50%,
		rgba(18, 12, 12, 0.15) 75%, transparent 75%, transparent);
	background-size: 76px 76px;
}