.google-map {
	height: 650px;
width: 1200px;
}
.opentime{
	font-size: x-small;
	padding-left: 2cm;
}


.modal-map {display:block; width:450px; height:300px;}

.infoWindowContent {
	font-size: 14px !important;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

.cus-footer {
	position: absolute;
	margin-top: 0px;
	width: 100%;
	text-align: right;
}

h2 {
	margin-bottom: 0;
	margin-top: 0;
}

html,body {
	margin: 0;
	height: 100%;
}

.Info {
	zoom: 1;
	border-bottom: 1px solid #EEE;
	border-spacing: -10px;
	margin-bottom: 20px;
	position: relative;
}

.Info-item-title {
	font-size: medium;
	display: inline-block;
	font-weight: bold;
	padding-top: 7px;
	vertical-align: top;
	min-width: 100px;
}

.Info-section {
	vertical-align: top;
	zoom: 1;
	position: relative;
}

.progress {
	background: rgba(245, 245, 245, 1);
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 0px;
	height: 40px;
}

.registerprogress {
	background: rgba(75, 139, 196, 1);
}

.progress-striped .registerprogress {
	background-color: rgba(75, 139, 196, 1);
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(18, 12,
		12, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent),
		color-stop(0.5, rgba(18, 12, 12, 0.15)),
		color-stop(0.75, rgba(18, 12, 12, 0.15)),
		color-stop(0.75, transparent), to(transparent)));
	background-image: -webkit-linear-gradient(45deg, rgba(18, 12, 12, 0.15)
		25%, transparent 25%, transparent 50%, rgba(18, 12, 12, 0.15) 50%,
		rgba(18, 12, 12, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(18, 12, 12, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(18, 12, 12, 0.15) 50%,
		rgba(18, 12, 12, 0.15) 75%, transparent 75%, transparent);
	background-size: 76px 76px;
}