<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">You have no delivery address Created, create now?</h4>
			</div>
			<div class="modal-body">
				<form name="addressForm" class="form " data-ng-submit="saveAddress()" >
					<h4>New Address:</h4>
					<div align="center" style="margin-top: 20px;">
					<div class="form-group" >
						<label class="col-md-3 control-label ">Line 1: </label><input style="width: 50%;" class="form-control" ng-model="address.line1" placeholder="House">
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label ">Line 2: </label>
							<input style="width: 50%;" class=" form-control" ng-model="address.line2" placeholder="Street">
					</div>
					<div class="form-group">
						<label class=" col-md-3 control-label">Line 3: </label>
							<input style="width: 50%;" class="form-control" ng-model="address.line3" placeholder="Ciry">
					</div>
					<div class="form-group">
						<label class=" col-md-3 control-label">County: </label>
							<select style="width: 50%;" class="form-control" data-ng-model="address.county" data-ng-options="county.area for county in counties"></select> </label>
						</div>
					<div class="form-group"align="right">
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-default" data-ng-click="close('Cancel')" data-dismiss="modal">Skip</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>