<div class=row>

	<div id="signupbox" style="margin-top: 50px"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Facebook user Sign Up</div>
				<div
					style="float: right; font-size: 85%; position: relative; top: -10px">
					<a id="signinlink" href="#/cancel">Cancel</a>
				</div>
			</div>
			<div class="panel-body">
				<form id="signupform" name="signupform"
					class="form-horizontal form-group" data-ng-submit="" novalidate>
					<div class="form-group">
						<label for="username" class="col-md-3 control-label">UserName</label>
						<div class="col-md-9">
							<input type="text" ng-model="user.username" class="form-control"
								name="username" placeholder="UserName" data-ng-minlength=4
								required />
							<div
								ng-show="signupform.username.$dirty && signupform.username.$invalid">
								<small class="text-warning"
									ng-show="signupform.username.$error.required">Your
									UserName is required.</small> <small class="text-warning"
									ng-show="signupform.username.$error.minlength">Your
									UserName is required to be at least 4 characters.</small>

							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Password</label>
						<div class="col-md-9">
							<input type="password" ng-model="user.password" id= "password"
								class="form-control" name="password" placeholder="Password"
								required="required">
							<div
								ng-show="signupform.password.$dirty && signupform.password.$invalid">
								<small class="text-warning"
									ng-show="signupform.password.$error.required">Your password is required.</small>

							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Confirm Password</label>
						<div class="col-md-9">
							<input type="password"
								class="form-control" name="confirmPassword" placeholder="Confirm Password " password-check = "password"
								required="required" data-ng-model = "user.confirmPassword">
							<div
								data-ng-show="signupform.confirmPassword.$dirty && signupform.confirmPassword.$invalid">
								<small class="text-warning"
									data-ng-show="signupform.confirmPassword.$error.passwordMatch">Password not match.</small>

							</div>
						</div>
					</div>
					<div class="form-group">
						<!-- Button -->
						<div class="col-md-offset-3 col-md-9">
							<button id="btn-signup" type="button" class="btn btn-default"
								data-ng-disabled="signupform.$invalid" >
								<i class="icon-hand-right"></i>Sign Up
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
