<div class="row">

<div class="row clearfix" >
	<div class="row">
		<div class="col-md-12">
			<span></span>
		</div>
	
	</div>
<!-- Filter restaurant by type, rating, populatorty, pricing  -->
		<div class="row" >
			<div class="col-md-4 restaurant " data-ng-repeat="rests in restaurantList" data-ng-click="toDetails(rests)">
				<button class="btn btn-link" > {{rests.name}}</button>
				<br> {{rests.type}} 
				
				<!--  <br>Open Hour :
				<div class="opentime">
				<br><span>{{rests.openHour.monday || 'Close'}}</span> 
				<br><span> {{rests.openHour.tuesday || 'Close'}}</span>
				<br><span> {{rests.openHour.wednesday || 'Close'}}</span>
				<br><span> {{rests.openHour.thursday || 'Close'}}</span>
				<br><span> {{rests.openHour.friday || 'Close'}}</span>
				<br><span> {{rests.openHour.saturday || 'Close'}}</span>
				<br><span> {{rests.openHour.sunday || 'Close'}}</span>
				</div> -->
			</div>
		</div>

			</div>


</div>