<div class="row" style="margin: 20px;">
<h3>Restaurant Locations: </h3>
			<form id="restaurantLocationForm" name="restaurantLocationForm" class="form-horizontal " novalidate>
				<div class="form-group">
					<button class="btn btn-primary" data-ng-click="configOpenHour()">Configure Open Hours</button>
				</div>
				<div id="deliveryHour" class="form-group">
					<label for="deliveryHours" class="col-md-3 control-label">Delivery Hours : </label>
					<div class="col-md-7 " style="margin-left: 35px; margin-top: 10px;">

						<div class="form-group form-inline ">
							<input type="time" class="form-control" id="deliveryTimeStart" name="deliveryTimeStart" data-ng-model="delivery.deliveryTime.start" /> <label>
								~ </label> <input type="time" class="form-control" id="deliveryTimeEnd" name="deliveryTimeEnd" data-ng-model="delivery.deliveryTime.end " />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="deliveryNote" class="col-md-3 control-label">Delivery Note: </label>
					<div class="col-md-7" style="margin-left: 25px; margin-top: 10px;">
						<textarea rows="5" cols="30" class="form-control" placeholder="Delivery description(optional)" data-ng-model="delivery.deliveryNote"></textarea>

						<div ng-show="restaurantDetailsForm.deliveryHours.$dirty">
							<small class="text-warning" ng-show="restaurantDetailsForm.deliveryHours.$error.required">Your input is required.</small>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3" style="margin-left: 30px">
						<div class="form-group ">
							<label class="control-label">Contact number : </label> <input only-num data-ng-model="tempLoc.telephone" name="telephone"
								class="form-control " for="telephone" type="text" placeholder="Restaurant telephone" required="required" data-ng-maxlength=13
							>
							<div ng-show="restaurantLocationForm.telephone.$dirty && restaurantLocationForm.telephone.$invalid">
								<small class="text-warning" ng-show="restaurantLocationForm.telephone.$error.required">Your Field is required.</small> <small
									class="text-warning" ng-show="restaurantLocationForm.telephone.$error.maxlength"
								>No longer than 13 numbers.</small>

							</div>
						</div>
						<div class="form-group ">
							<label class="control-label">Email : </label> <input data-ng-model="tempLoc.email" class="form-control" name="email" for="email" type="email"
								placeholder="Restaurant email" required="required"
							>
							<div ng-show="restaurantLocationForm.email.$dirty && restaurantLocationForm.email.$invalid">
								<small class="text-warning" ng-show="restaurantLocationForm.email.$error.required">Your email is required.</small> <small class="text-warning"
									ng-show="restaurantLocationForm.email.$error.email"
								>That is not a valid email.</small>
							</div>
						</div>
					</div>
					<div class="col-lg-4 " style="margin-left: 300px">
						<div class="form-group ">
							<label class="control-label">Address : </label>
							<textarea cols="10" rows="6" data-ng-model="tempLoc.address" class="form-control" placeholder="Restaurant address" required="required">
							</textarea>
							<button class="btn btn-info right" data-ng-click="locateAddr()">Locate address on map</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<span class="text-info">Drag pin for your location on map, if this is not your location.</span> <br>
					<map center="current-location" zoom-control="true" zoom="13">
						<marker id="restPosition" position="current-location" animation="DROP" draggable="true" on-dragend="updateMarker()"></marker>
					</map>
				</div>
				<div>
					<button ng-disabled="restaurantLocationForm.$invalid" class="btn btn-primary" ng-click="saveAddress()">Save this Address</button>
				</div>
			</form>
			<form style="border-radius: 25px;border: 2px solid #8AC007;" class="form-group form-inline col-md-6 " ng-repeat = "resLoc in restaurantLocations track by $index">
					<div style="padding: 15px;"><br><h4> Branch location {{$index+1}}: </h4>
					<br>Contact Number : {{resLoc.telephone}} 
					<br>Email : {{resLoc.email}} 
					<br>Address: 
					<br> &nbsp; {{resLoc.address}} 
					<br>Delivery Hour : {{resLoc.deliveryHour}} 
					<br>Delivery Note : {{resLoc.deliveryNote}}
					<br> Opening Hours : {{resLoc.openHour.monday || 'close'}}
					<br>Monday : {{resLoc.openHour.monday  || 'Close'}} 
					<br>Tuesday :{{resLoc.openHour.tuesday || 'Close'}} 
					<br>Wednesday : {{resLoc.openHour.wednesday || 'Close'}} 
					<br>Thursday : {{resLoc.openHour.thursday || 'Close'}} 
					<br>Friday :{{resLoc.openHour.friday || 'Close'}} 
					<br>Saturday : {{resLoc.openHour.saturday || 'Close'}}
					<br>Sunday : {{resLoc.openHour.sunday || 'Close'}}
					<br> <button class="btn btn-danger" data-ng-click="deleteAddr(resLoc)">Delete</button></div>
				</form>
			<button class="btn btn-success" style="margin-left: 90%;" data-ng-click="saveAllLocations()">Back to Details</button>
</div>