<div class="row" style="margin: 20px;">
	<div class="progress progress-striped ">
		<div>
			<progressbar class="progress-striped active" max="100"
				value="progress" type="info"> <i>{{progress}}</i></progressbar>
		</div>
		
	</div>
	<div class="row" align="justify" style="margin-left: 30px;">
		<form id="restaurantDetailsForm" name="restaurantDetailsForm"
			class="form-horizontal form-group col-md-12" novalidate ng-show="progress==25">
			<div class="form-group">
				<label for="name" class="col-md-3 control-label">Restaurant
					Name : </label>
				<div class="col-md-3" style="margin-left: 25px;">
					<input type="text" ng-model="res.name" class="form-control"
						name="name" placeholder="Name" required autofocus/>
					<div ng-show="restaurantDetailsForm.name.$dirty">
						<small class="text-warning"
							ng-show="restaurantDetailsForm.name.$error.required">Your
							input is required.</small>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
					accept="image/*"
				>Drop image here or click to upload</div>
				<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			</div>
			<div class="form-group">

				<label for="type" class="col-md-3 control-label">Description : </label>
				<div class="col-md-3" style="margin-left: 25px;">
					<textarea cols="40" rows="5" type="text" ng-model="res.description" class="form-control" name="description" placeholder="Restaurant description"
						required
					></textarea>
					<div ng-show="restaurantDetailsForm.type.$dirty ">
						<small class="text-warning" ng-show="restaurantDetailsForm.type.$error.required">Your input is required.</small>
					</div>
				</div>


			</div>
			<div class="form-group">
				<label for="type" class="col-md-3 control-label">Type : </label>
				<div class="col-md-3" style="margin-left: 25px;">
					<input type="text" ng-model="res.type" class="form-control"
						name="type" placeholder="Food Type" required />
					<div ng-show="restaurantDetailsForm.type.$dirty ">
						<small class="text-warning"
							ng-show="restaurantDetailsForm.type.$error.required">Your
							input is required.</small>
					</div>
				</div>
			</div>
			<button class="btn btn-primary" style="position: relative;left: 60%;" data-ng-disabled="restaurantDetailsForm.$invalid" data-ng-click="saveRestaurant()">Save</button>
		</form>

<!-- ng-show="progress==50" -->
		<div ng-show="progress==50" >
		<form id="restaurantMenuForm" name="restaurantMenuForm" class="form-horizontal " novalidate data-ng-repeat="menu in menus" style="border: black;border-width: thin;border-style: dashed;" >
				<div id="menuHeader" class="form-group form-inline" align="center" style="margin-top: 20px; margin-left: 15px;">
					<span style="font-size: large;">
						<label class="control-label">Menu Name : </label>
						<input class="form-control" type="text" data-ng-model="menu.name" required="required">
					</span>
						<label class="control-label" style="margin-left: 30px">Menu note : </label>
						<input class="form-control" style="margin-left: 25px" type="text" data-ng-model="menu.note" >
					<button class="btn btn-sm btn-primary" style="position: relative;margin-left: 20px;" data-ng-click="addMenuItem(menu)" tooltip-placement="right" tooltip="Add New Item" ><span class=" glyphicon glyphicon-plus"></span></button>
					<button class="btn btn-sm btn-primary" style="position: relative;margin-left: 5px;" data-ng-click="deleteAMenu(menu)" tooltip-placement="right" tooltip="Delete This Menu" ><span class=" glyphicon glyphicon-minus"></span></button>
				</div>

				<div class="list-group form-group" align="center" >
					<div class="row form-inline"
						data-ng-repeat="item in menu.items " style="margin: 6px;">
						<label class="control-label " >Name:   </label>
						<input class="form-control "  type="text" data-ng-model="item.name" placeholder="Item name" required="required" > 
						<label class="control-label " style="margin-left: 35px;">Description/Ingredients:    </label>
						<input class="form-control " type="text" data-ng-model="item.description" placeholder="Item Description" required="required" >
						<label class="control-label " style="margin-left: 35px;">Price:    </label>
						<input class="form-control " type="number" data-ng-model="item.price" min="0" placeholder="Item Price" required="required" >
						<button class="btn btn-sm btn-primary" data-ng-click="deleteMenuItem(menu,item)" tooltip-placement="right" tooltip="Delete this Item" ><span class=" glyphicon glyphicon-minus"></span></button>
					</div>
				</div>
				
			</form>
			<button class="btn btn-primary" data-ng-click="addMenuForm()"><span class=" glyphicon glyphicon-plus-sign" ></span> Add Menu</button>
			<button class="btn btn-primary" data-ng-click="progress=75" style="margin-left: 30px;">Skip </button>
			<button class="btn btn-primary" data-ng-click="saveMenus()" >Save </button>
		</div>


		<div ng-show="progress==75">
			<h3>Restaurant Locations: </h3>
			<form id="restaurantLocationForm" name="restaurantLocationForm" class="form-horizontal " novalidate>
				<div class="form-group">
					<button class="btn btn-primary" data-ng-click="configOpenHour()">Configure Open Hours</button>
				</div>
				<div id="deliveryHour" class="form-group">
					<label for="deliveryHours" class="col-md-3 control-label">Delivery Hours : </label>
					<div class="col-md-7 " style="margin-left: 35px; margin-top: 10px;">

						<div class="form-group form-inline ">
							<input type="time" class="form-control" id="deliveryTimeStart" name="deliveryTimeStart" data-ng-model="delivery.deliveryTime.start" /> <label>
								~ </label> <input type="time" class="form-control" id="deliveryTimeEnd" name="deliveryTimeEnd" data-ng-model="delivery.deliveryTime.end " />
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="deliveryNote" class="col-md-3 control-label">Delivery Note: </label>
					<div class="col-md-7" style="margin-left: 25px; margin-top: 10px;">
						<textarea rows="5" cols="30" class="form-control" placeholder="Delivery description(optional)" data-ng-model="delivery.deliveryNote"></textarea>

						<div ng-show="restaurantDetailsForm.deliveryHours.$dirty">
							<small class="text-warning" ng-show="restaurantDetailsForm.deliveryHours.$error.required">Your input is required.</small>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-3" style="margin-left: 30px">
						<div class="form-group ">
							<label class="control-label">Contact number : </label> <input only-num data-ng-model="tempLoc.telephone" name="telephone"
								class="form-control " for="telephone" type="text" placeholder="Restaurant telephone" required="required" data-ng-maxlength=13
							>
							<div ng-show="restaurantLocationForm.telephone.$dirty && restaurantLocationForm.telephone.$invalid">
								<small class="text-warning" ng-show="restaurantLocationForm.telephone.$error.required">Your Field is required.</small> <small
									class="text-warning" ng-show="restaurantLocationForm.telephone.$error.maxlength"
								>No longer than 13 numbers.</small>

							</div>
						</div>
						<div class="form-group ">
							<label class="control-label">Email : </label> <input data-ng-model="tempLoc.email" class="form-control" name="email" for="email" type="email"
								placeholder="Restaurant email" required="required"
							>
							<div ng-show="restaurantLocationForm.email.$dirty && restaurantLocationForm.email.$invalid">
								<small class="text-warning" ng-show="restaurantLocationForm.email.$error.required">Your email is required.</small> <small class="text-warning"
									ng-show="restaurantLocationForm.email.$error.email"
								>That is not a valid email.</small>
							</div>
						</div>
					</div>
					<div class="col-lg-4 " style="margin-left: 300px">
						<div class="form-group ">
							<label class="control-label">Address : </label>
							<textarea cols="10" rows="6" data-ng-model="tempLoc.address" class="form-control" placeholder="Restaurant address" required="required">
							</textarea>
							<button class="btn btn-info right" data-ng-click="locateAddr()">Locate address on map</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<span class="text-info">Drag pin for your location on map, if this is not your location.</span> <br>
					<map center="current-location" zoom-control="true" zoom="13">
						<marker id="restPosition" position="current-location" animation="DROP" draggable="true" on-dragend="updateMarker()"></marker>
					</map>
				</div>
				<div>
					<button ng-disabled="restaurantLocationForm.$invalid" class="btn btn-primary" ng-click="saveAddress()">Save this Address</button>
				</div>
			</form>
			<form class="form-group form-inline" ng-repeat = "resLoc in restaurantLocations">
					<br>Contact Number : {{resLoc.telephone}} 
					<br>Email : {{resLoc.email}} 
					<br>Address: 
					<br> &nbsp; {{resLoc.address}} 
					<br>Delivery Hour : {{resLoc.deliveryHour}} 
					<br>Delivery Note : {{resLoc.deliveryNote}}
					<br> Opening Hours : {{resLoc.openHour.monday || 'close'}}
					<br>Monday : {{resLoc.openHour.monday  || 'Close'}} 
					<br>Tuesday :{{resLoc.openHour.tuesday || 'Close'}} 
					<br>Wednesday : {{resLoc.openHour.wednesday || 'Close'}} 
					<br>Thursday : {{resLoc.openHour.thursday || 'Close'}} 
					<br>Friday :{{resLoc.openHour.friday || 'Close'}} 
					<br>Saturday : {{resLoc.openHour.saturday || 'Close'}}
					<br>Sunday : {{resLoc.openHour.sunday || 'Close'}}
					<br> <button class="btn btn-danger" data-ng-click="deleteAddr(resLoc)">Delete</button>
				</form>
			<button class="btn btn-primary" data-ng-click="saveAllLocations()">Next</button>
		</div>
		<div data-ng-show="progress==100">
			<div class="row">
				<h4>Do you want to activate restaurant now ? </h4>
				<button class="btn btn-link" style="color: black;" data-ng-click="activeRest()" >Put My restaurant to the Market</button>
				<button class="btn btn-primary"  data-ng-click="finish()">Finish</button>
			</div>
		</div>
		
		<!-- 
		data-ng-disabled="restaurantDetailsForm.$invalid && restaurantMenuForm.$invalid"
		 
		<button class="btn btn-primary" style="position: relative;left: 60%;"  data-ng-click="next()" 
		data-ng-hide="progress==100">Next</button>
		<button class="btn btn-primary" style="position: relative;left: 60%; "  data-ng-click="finish()" data-ng-disabled="restaurantDetailsForm.$invalid"
		data-ng-show="progress==100" >Save</button>-->
		
	
	</div>
</div>