<div class="row">

	<div class="row">
		<div class="col-md-12" style="margin-top: 15px;margin-left: 20px;" align="justify">
			<a href="#home" style="color: highlighttext;font-style: italic;">[ Change Location ]</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin: 20px;display: inline;" align="justify">
			<div class="col-md-3">

				<input class=" form-control " data-ng-model="query.type" type="text" placeholder="Filter by Category" autofocus>
			</div>
			<div class="col-md-3">
				<input class=" form-control " data-ng-model="query.name" type="text" placeholder="Filter by Name">
			</div>
			<div class="col-md-3"style=""  >	
				<button class="btn btn-default" data-toggle="button" type="button" data-ng-click="sort = 'rate';reverse=!reverse; ">
				<span >Sort Rate</span>
				</button >
			</div>
				<div class="col-md-3"style=""  >	
				<button class="btn btn-default" data-toggle="button" type="button" data-ng-click="sort = 'distance';reverse=!reverse; ">
				<span >Sort Distance</span>
				</button >
			</div>
		</div>
		<hr width="90%" >
	<!-- Filter restaurant by type, rating, populatorty, pricing  -->
	<div ng-show="restaurantList==null" align="center" style="margin: 25px;"><h3>No result has been found. Please change your Location.</h3></div>
	<div class="row" align="center" data-ng-repeat="rest in restaurantList | filter : query: strict | orderBy:sort:reverse" style=" margin-left: 25px;border-bottom: activecaption; border-bottom-style: solid;margin: 12px;" >
		<div class="col-md-12 restaurant " data-ng-click="toDetails(rest.locations[0].id)" style="height: 130px;" align="left" >
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
						<h4>{{rest.name}}</h4>
						{{rest.type}}
						<br>{{rest.locations[0].address}}
					</div>
					<div class="col-md-8">
						<div class="row" data-ng-repeat = "location in rest.locations">
							<div class="col-md-4">Delivery Time: {{location.deliveryHour}}</div>
							<div class="col-md-4">{{location.deliveryNote}}</div>
							<div class="col-md-4">Distance: {{rest.distance}} km</div>
						</div>
						<div class="row">
							<div class="col-md-12"> 
								<rating data-ng-model="rest.rate | number:1" max="5" readonly="true"  ></rating>
								
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<!--  	<div class=row ng-repeat="letter in alphabet track by $index" ng-if="$index%4==0">
    <div class="col-xs-3 letter-box" 
      ng-repeat="i in [$index,$index+1,$index+2,$index+3]" 
      ng-if="alphabet[i]!=null">
      <div>Letter {{i+1}} is: <b> {{alphabet[i]}}</b></div>
    </div>
  </div>-->
		<!--  <br>Open Hour :
				<div class="opentime">
				<br><span>{{rests.openHour.monday || 'Close'}}</span> 
				<br><span> {{rests.openHour.tuesday || 'Close'}}</span>
				<br><span> {{rests.openHour.wednesday || 'Close'}}</span>
				<br><span> {{rests.openHour.thursday || 'Close'}}</span>
				<br><span> {{rests.openHour.friday || 'Close'}}</span>
				<br><span> {{rests.openHour.saturday || 'Close'}}</span>
				<br><span> {{rests.openHour.sunday || 'Close'}}</span>
				</div> -->
	</div>

</div>
</div>