

<div class="row">

<div class = "row" style=" margin: 20px;">
	<div class="col-md-12" >
	<ngcart-cart></ngcart-cart>
	<button class="btn btn-primary" ng-click="checkOut()" style="margin-left: 80%" ng-disabled="!ngCart.getTotalItems()" ><span ng-click="checkOut()" class="glyphicon glyphicon-euro">Check-Out </span></button>
</div>
<hr>


	<div class="row" data-ng-show="checkOutClicked" style="margin-left: 25px;">
			<div class="col-md-12">
				<h4>Select delivery Address:</h4>
				<div data-ng-repeat="address in cusAddresses track by $index">
				<form class="col-md-4" editable-form name="addressForm" onaftersave="saveAddress(address)" style="margin-top: 10px" >
					<h5>Address {{$index+1}}:</h5>
						<span ng-show="addressForm.$visible"><button type="button" data-ng-disabled="addressForm.$waiting" class="btn btn-xs btn-danger "
								style="margin-left: 50%;" data-ng-click="deleteAddressForm(address)"
							>X</button></span>

						<div class="form-group">
						<label class="control-label">House: </label> <span editable-text="address.line1" e-name="line1" e-required>{{address.line1 || 'empty' }}</span>
					</div>
					<div class="form-group">
						<label class="control-label">Street: </label> <span editable-text="address.line2" e-name="line2" e-required>{{address.line2 || 'empty' }}</span>
					</div>
					<div class="form-group">
						<label class="control-label">Region: </label> <span editable-text="address.line3" e-name="line3" e-required>{{address.line3 || 'empty' }}</span>
					</div>
					<div class="form-group">
						<label class="control-label">County: </label> <span editable-select="address.county" e-name="county"
							e-ng-options="county.area for county in counties"
						> {{address.county ||'Not set'}} </span>
					</div>
					<div class="form-group" align="right">
						Select: <input type="checkbox" name="checkAddress"  data-ng-model="address.check">
					</div>
					<div>
						<!-- button to show form -->
						<button type="button" class="btn btn-default" ng-click="addressForm.$show()" ng-show="!addressForm.$visible">Edit</button>
						<!-- buttons to submit / cancel form -->
						<span ng-show="addressForm.$visible">
							<button type="submit" class="btn btn-primary" data-ng-disabled="addressForm.$waiting">Save</button>
							<button type="button" class="btn btn-default" data-ng-disabled="addressForm.$waiting" data-ng-click="addressForm.$cancel()">Cancel</button>
						</span>
					</div>
				</form>
				</div>
				
				<div class="row">
					<div class="col-md-12" style="margin: 20px;">
					<button type="submit" class="btn btn-primary" ng-click="newAddressForm()">Add New Address</button>
					<div align="right" >
					<label>Select payment type: <select data-ng-model="selectedType" data-ng-options="payments.name for payments in payments"></select>
					</label>
					<button class="btn btn-primary" data-ng-disabled="muladdressSelected() || selectedType == null || noaddressSelected()" data-ng-click="processedCheckout()">Processed</button>
					</div>
					</div>
				</div>
			</div>
			<!--  <div style="margin-left: 40%"><ngcart-checkout service="{{selectedType.type}}" settings="payPalSettings"></ngcart-checkout></div>-->
			
		</div>		
	</div>

	<script type="text/ng-template" id="template/ngCart/cart.html"><div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ ngCart.totalCost() | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

            <td>{{ item.getName() }}</td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>


	</div>

</script>


<script type="text/ng-template" id="template/ngCart/checkout.html">

<div ng-if="service=='custom' || service == 'log'">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ><span ng-click="checkOut()" class="glyphicon glyphicon-euro">Proceed </span></button>
</div>

<div ng-if="service=='paypal'">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="alexwang119@yahoo.com">
        <input type="hidden" name="lc" value="CA">
        <input type="hidden" name="item_name" value="Meal">
        <input type="hidden" name="item_number" value="{{ ngCart.getTotalItems() }}">
        <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
        <input type="hidden" name="currency_code" value="EUR">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
        <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div>

</script>
</div>