

<div class="row">

	<div id="signupbox" style="margin-top: 50px"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign Up</div>
				<div
					style="float: right; font-size: 85%; position: relative; top: -10px">
					<a id="signinlink" href="#login">Sign In</a>
				</div>
			</div>
			<div class="panel-body">
				<form id="signupform" name="signupform"
					class="form-horizontal form-group"  novalidate>


					<div class="form-group">
						<label for="username" class="col-md-3 control-label">UserName</label>
						<div class="col-md-9">
							<input type="text" ng-model="Customer.username" class="form-control"
								name="username" placeholder="UserName" data-ng-minlength=4
								required autofocus/>
							<div
								ng-show="signupform.username.$dirty && signupform.username.$invalid">
								<small class="text-warning"
									ng-show="signupform.username.$error.required">Your
									UserName is required.</small> <small class="text-warning"
									ng-show="signupform.username.$error.minlength">Your
									UserName is required to be at least 4 characters.</small>

							</div>
						</div>
					</div>


					<div class="form-group">
						<label for="email" class="col-md-3 control-label">Email</label>
						<div class="col-md-9">
							<input type="email" ng-model="Customer.email" class="form-control"
								name="email" placeholder="Email Address" required>
							<div
								ng-show="signupform.email.$dirty && signupform.email.$invalid">
								<small class="text-warning"
									ng-show="signupform.email.$error.required">Your email
									is required.</small> <small class="text-warning"
									ng-show="signupform.email.$error.email">That is not a
									valid email.</small>
							</div>
						</div>

					</div>

					<div class="form-group">
						<label for="firstname" class="col-md-3 control-label">First
							Name</label>
						<div class="col-md-9">
							<input type="text" ng-model="Customer.firstname" class="form-control"
								name="firstname" placeholder="First Name"
								 required>
							<div
								ng-show="signupform.firstname.$dirty && signupform.firstname.$invalid">
								<small class="text-warning"
									ng-show="signupform.firstname.$error.required">Your
									First Name is required.</small> <small class="text-warning"
									ng-show="signupform.firstname.$error.pattern">Should
									not have numbers.</small>

							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="surname" class="col-md-3 control-label">Last
							Name</label>
						<div class="col-md-9">
							<input type="text" ng-model="Customer.surname" class="form-control"
								name="surname" placeholder="Last Name"
								 required>
							<div
								ng-show="signupform.surname.$dirty && signupform.surname.$invalid">
								<small class="text-warning"
									ng-show="signupform.surname.$error.required">Your Last
									Name is required.</small> <small class="text-warning"
									ng-show="signupform.surname.$error.pattern">Should not
									have numbers.</small>

							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Password</label>
						<div class="col-md-9">
							<input type="password" ng-model="Customer.password" id= "password"
								class="form-control" name="password" placeholder="Password"
								required="required">
							<div
								ng-show="signupform.password.$dirty && signupform.password.$invalid">
								<small class="text-warning"
									ng-show="signupform.password.$error.required">Your password is required.</small>

							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Confirm Password</label>
						<div class="col-md-9">
							<input type="password"
								class="form-control" name="confirmPassword" placeholder="Confirm Password " password-check = "password"
								required="required" data-ng-model = "Customer.confirmPassword">
							<div
								ng-show="signupform.confirmPassword.$dirty && signupform.confirmPassword.$invalid">
								<small class="text-warning"
									ng-show="signupform.confirmPassword.$error.passwordMatch">Password not match.</small>

							</div>
						</div>
					</div>
					<div class="form-group">
						<!-- Button -->
						<div class="col-md-offset-3 col-md-9">
							<button id="btn-signup" type="button" class="btn btn-primary"
								ng-disabled="signupform.$invalid" data-ng-click="registerNewUser(Customer)">
								<i class="icon-hand-right"></i>Sign Up
							</button>
						</div>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	
	
<!--  <div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">You have no delivery address Created, create now?</h4>
				</div>
				<div class="modal-body">
					<div>
						<form  class="form-horizontal" data-ng-submit="saveAddress()">
							<h4>New Address:</h4>
							<div class="form-group">
								<label class=" control-label">Line 1: </label> <input class="form-control" ng-model="address.line1">
							</div>
							<div class="form-group">
								<label class=" control-label">Line 2: </label> <input class="form-control" ng-model="address.line2">
							</div>
							<div class="form-group">
								<label class=" control-label">Line 3: </label> <input class="form-control" ng-model="address.line3">
							</div>
							<div class="form-group">
								<label class=" control-label">Country: </label> <input class="form-control" ng-model="address.country">
							</div>
							<button type="submit" class="btn btn-primary">Save</button>
							<button type="button" class="btn btn-default" data-ng-click="close('Cancel')" >Skip</button>
						</form>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	-->	

</div>
