<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-pills">

				<li data-ng-class="{active:isActiveTab(1)}"
					data-ng-init="onClickTab(1)"><a href
					data-ng-click="onClickTab(1)">Profiles</a></li>
				<li data-ng-class="{active:isActiveTab(2)}"><a href
					data-ng-click="onClickTab(2)">My Orders</a></li>

			</ul>


			<div class="row clearfix" data-ng-show="isActiveTab(1)">
				<div class="col-md-3 " style="margin-top: 15px;">
					<div class="row">
						<img alt="140x140" src="http://lorempixel.com/140/140/" />
					</div>
					<div class="row">
						<button class="btn-link">Change pic</button>
					</div>

				</div>
				<form class="col-md-9 form-inline" editable-form name="editableForm"  onaftersave="updateUser(currentUser)">
				
					<div class="form-group">
						<h2><span editable-text="currentUser.username" e-name="username" onbeforesave = "checkUsername($data)"
						 e-required >{{currentUser.username ||'username'}}</span></h2>
					 </div>
					<div class="Info-section">
						<div class="Info ">
							<span class="list-group-item-text Info-item-title">First name :</span>
								<span editable-text="currentUser.firstname" e-name="firstname" e-required>{{currentUser.firstname}}</span>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Last name :</span>
								<span editable-text="currentUser.surname" e-name="surname" e-required>{{currentUser.surname}}</span>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Email :</span>
								<span editable-text="currentUser.email" e-name="email" e-required onbeforesave = "checkEmail($data)">{{currentUser.email}}</span>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Mobile :</span>
								<span editable-text="currentUser.mobile" e-name="mobile"  onbeforesave = "checkMobile($data)" >{{currentUser.mobile}}</span>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Address :</span>
								<span editable-text="currentUser.address" e-name="address" >{{currentUser.address}}</span>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Date of Birth:</span>
								<span editable-bsdate="currentUser.dateOfBrith" e-datepicker-popup="dd-MMMM-yyyy" e-name="dateOfBrith" > {{(currentUser.dateOfBrith | date : "dd/MM/yyyy") || 'empty'}}</span>
						</div>
						<div class="Info">
							<span class="list-group-item-text">Joined Date :</span>
								<span >{{currentUser.joinedDate}}</span>
						</div>
						
					</div>
					<div >
							<!-- button to show form -->
							<button type="button" class="btn btn-default"
								data-ng-click="editableForm.$show()"
								data-ng-show="!editableForm.$visible">Edit</button>
							<!-- buttons to submit / cancel form -->
						<span ng-show="editableForm.$visible">
							<button type="submit" class="btn btn-primary" 
								ng-disabled="editableForm.$waiting">Save</button>
							<button type="button" class="btn btn-default"
								ng-disabled="editableForm.$waiting"
								ng-click="editableForm.$cancel()">Cancel</button>
						</span>
					</div>
				</form>
				
			</div>


			<div class="list-group" data-ng-show="isActiveTab(2)">
				<a href class="list-group-item active">Order History</a>
				<div class="list-group-item" data-ng-hide="historyOrders=null">You have no orders yet.</div>
				<div class="list-group-item" data-ng-repeat="order in historyOrders">{{order.orderedDate}}</div>


			</div>



		</div>
	</div>
</div>