<div class="container">

	<div class="row clearfix">
		<div class="col-md-12 ">
			<ul class="nav nav-pills">

				<li data-ng-class="{active:isActiveTab(1)}"
					data-ng-init="onClickTab(1)"><a href
					data-ng-click="onClickTab(1)">Profiles</a></li>
				<li data-ng-class="{active:isActiveTab(2)}"><a href
					data-ng-click="onClickTab(2)">My Orders</a></li>

			</ul>


			<div class="row clearfix" data-ng-show="isActiveTab(1)">
				<div class="col-md-3 " style="margin-top: 15px;">
					<div class="row">
						<img alt="140x140" src="http://lorempixel.com/140/140/" />
					</div>
					<div class="row">
						<button class="btn-link">Change pic</button>
					</div>

				</div>
				
				<div class="col-md-9 form-inline"  >
				
					<div class="form-group">
						<h2><a href="" editable-text="currentUser.username" e-name="username"  required >{{currentUser.username ||'username'}}</a></h2>
					 </div>
					<div class="Info-section">
						<div class="Info ">
							<span class="list-group-item-text Info-item-title">First name :</span>
								<a href="" editable-text="currentUser.firstname"  e-name="firstname" required>{{currentUser.firstname ||'empty'}}</a>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Last name :</span>
								<a href="" editable-text="currentUser.surname" e-name="surname" e-required>{{currentUser.surname ||'empty'}}</a>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Email :</span>
								<a href="" editable-text="currentUser.email" e-name="email" e-required >{{currentUser.email ||'empty'}}</a>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Mobile :</span>
								<a editable-text="currentUser.mobile" e-name="mobile"   >{{currentUser.mobile ||'empty'}}</a>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Address :</span>
								<a editable-text="currentUser.address" e-name="address" >{{currentUser.address ||'empty'}}</a>
						</div>
						<div class="Info">
							<span class="list-group-item-text Info-item-title">Date of Birth:</span>
								<a editable-date="currentUser.dateOfBrith"  e-name="dateOfBrith" > {{(currentUser.dateOfBrith | date : "dd/MM/yyyy") || 'empty'}}</a>
						</div>
						<div class="Info">
							<span class="list-group-item-text">Joined Date :</span>
								<span >{{currentUser.joinedDate}}</span>
						</div>


						
						
					</div>
					{{currentUser}}
					<div  data-ng-show="enabled">
							<!--<button type="button" class="btn btn-default"
								data-ng-click="editableForm.$show()"
								data-ng-show="!editableForm.$visible">Edit</button>
								updateUser(currentUser) button to show form -->
							
							<!-- buttons to submit / cancel form -->
						<span >
							<button type="submit" class="btn btn-primary" ng-click="updateUser(currentUser)" >Save</button>
							<button type="button" class="btn btn-default" ng-click="enabled=false">Cancel</button>
						</span>
						
					</div>
				</div>
				
			</div>


			<div class="list-group" data-ng-show="isActiveTab(2)">
				<a href class="list-group-item active">Order History</a>
				<div class="list-group-item" data-ng-hide="historyOrders=null">You have no orders yet.</div>
				<div class="list-group-item" data-ng-repeat="order in historyOrders">{{order.orderedDate}}</div>


			</div>



		</div>
	</div>
</div>