<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
<meta charset="UTF-8">
<title>Hungry?</title>
<meta name="author" content="Zechen">



<link rel='stylesheet' type='text/css' href=http://fonts.googleapis.com/css?family=Lobster>
<link href="css/custom-style.css" rel="stylesheet" type='text/css'>
<link href="css/bootstrap.min.css" rel="stylesheet" type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet" type='text/css'>
<link href="css/xeditable.css" rel="stylesheet" type='text/css'>
<link href="css/bootstrap-toggle.min.css" rel="stylesheet" type='text/css'>
<link href="css/ngDialog.css" rel="stylesheet" type='text/css'>
<!-- Fav and touch icons -->
<script type="text/javascript" src="lib/jquery-2.0.0.js"></script>
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
    
</head>

<body data-ng-app="Hungryapp" style="background-image: url('img/mainBackGround1.jpg');" >

	<div class="navbar navbar-static-top navbar-default navbar-inverse" data-ng-controller="IndexController">
		<div class="navbar-header">
			<a class="navbar-brand" style="font-size: xx-large;font-family: 'Lobster', cursive;" href="#/">Hungry?</a>
		</div>
		
		<!-- <div data-ng-show="notLoggedIn()" class="navbar-collapse " style="margin-right: 10px;">
			<button class="btn btn-link " >
         		 <span class="glyphicon glyphicon-shopping-cart"></span>
        	</button>
			<a class="btn btn-default navbar-btn navbar-right btn-primary" href="#login">Log in / Sign in</a>
			
		</div>
		<div class="navbar-collapse" data-ng-hide="notLoggedIn()" style="margin-right: 10px; ">
			<div class="navbar-right "  >
				<div style="color: gray;font-size: medium;margin-right: 20px; font-family: 'Lobster', cursive;display: inline-block;">
					Welcome, <a href="#userDetails" class="navbar-link" data-ng-show = "!isAdmin()">{{username}}</a><a href="#managerDetails" data-ng-show = "isAdmin()">{{name}}</a>
				</div> style="margin-right: 10px;"
				<div style="display: inline-block;">				
					<a class="btn btn-default navbar-btn btn-primary" data-ng-click="Logout()">Logout</a>
				</div>
			</div>
		</div>
		 -->
		<ul class="nav navbar-nav navbar-right" >
			<li data-ng-hide="notLoggedIn()" style="padding-right: -9px;"><a>Welcome</a></li>
			<li data-ng-hide="notLoggedIn()" style="color: gray;font-size: medium;margin-right: 5px; font-family: 'Lobster', cursive;"> 
				<a href="" data-ng-click = "viewProfile()">{{name}}</a>
			</li>
			<li data-ng-show="!isAdmin()" >
				<a href="#myCart"> <ngcart-summary></ngcart-summary></a>
			</li>
			<li data-ng-show="notLoggedIn()"  style="margin-right: 10px;"><a href="#login">Log in / Sign in</a></li>
			<li data-ng-hide="notLoggedIn()" style="margin-right: 10px;" ><a href="" data-ng-click="Logout()">Logout</a></li>
		</ul>
	</div>
	<div class="container">
		<div  data-ng-view></div>
	</div>
	

</body>
<footer class="cus-footer">
		<a href="#managersignup" style="color: #ffffff;">Join Us</a> 
		| <a href="#aboutus" style="color: #ffffff;">About Us</a> 
		| <a href="#managerEntry" style="color: #ffffff;">I'm Manager.</a>

</footer>
<script type="text/ng-template" id="template/ngCart/summary.html">
<div class="row" >
	<div class="col-md-4 text-right"> <span class="glyphicon glyphicon-shopping-cart"></span> </div>
    <div class="col-md-8">
		<span>{{ ngCart.getTotalItems() }} <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize></span>
        <br />{{ ngCart.totalCost() | currency }}
    </div>
</div>
</script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script src="lib/angular.js"></script>
<script src="lib/angular-resource.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/angular-cookies.js"></script>
<script src="lib/ui-bootstrap-0.12.0.js"></script>
<script src="lib/bootstrap-toggle.min.js"></script>
<script src="lib/ui-bootstrap-tpls.min.js"></script>
<script src="lib/ngCart.js"></script>
<script src="lib/ng-map.min.js"></script>
<script src= "lib/ngDialog.js"></script>
<script src= "lib/ngStorage.js"></script>
<script src= "lib/ngFacebook.js"></script>
<script src= "lib/angular-modal-service.js"></script>

<script src="js/app.js"></script>
<script src="lib/xeditable.js"></script>
<script src="js/controller.js"></script>
<script src="js/service.js"></script>
<script src="js/directive.js"></script>


</html>
